
body {
    background-color: rgb(9, 62, 9);
}

.container {
    background-color: #fff;
    margin-top: 10%;
    margin-left: 25%;
    width: 100%;
    max-width: 600px;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
}